h2 {
    color: rgb(0, 140, 255);
}

img {
    height: 200px;
    width: 270px;
}

#pb {
    color: brown;
}

#goals {
    color: rgb(206, 38, 192);
}

#hobbies {
    color: blue;
}

#favweb {
    color:yellowgreen;
}